#kds
debug
release
settings
doxygen
*.doxygen
*.ewt
*.dep
Obj
Exe
List
SET_V_HERE.bat
*.bin
makefile
*.mk
*.prefs
.settings
.settings/
*.wsd
*.scvd
*.lst
*.map
*.uvguix.NXF40158
*.uvoptx
JLinkSettings.ini
JLinkLog.txt
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_fsci_bbox_debug/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_fsci_bbox_release/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_fsci_test_debug/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_fsci_test_release/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_host_central_lib_debug/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_host_central_lib_release/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_host_lib_debug/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_host_lib_release/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_host_peripheral_lib_debug/
middleware/wireless/bluetooth/host/build/mcux/ble_4-2_cm4_ble_host_peripheral_lib_release/
platform/
tools/RSSI_Ranging/.idea/
tools/RSSI_Ranging/__pycache__/
tools/RSSI_Ranging/build/mainwindow/
tools/RSSI_Ranging/mainwindow.spec
